.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon {
    height: 60px;
    width: 60px;
    background-image: url(../assets/logo.png);
    background-size: cover;
    background-position: center;
}
nav {
    display: flex;
}

nav>a{
    border: 1px;
    padding: 8px;
    text-decoration: none;
    color:#7E60BF;
}
.Home {
    padding: 400px;
    background-image: url(../assets/banner1.jpg);
    background-size: cover;
    background-position: center;
}
footer>div
{text-align: center;
    font-size: small;
}
